<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
      <security>
          <authorization>
                <remove users="*" roles="" verbs="" />
                <add accessType="Deny" users="*" />
          </authorization>
      </security>
  </system.webServer>
  <location path="download.php">
      <system.webServer>
      <security>
          <authorization>
                <add accessType="Allow" users="*" />
          </authorization>
      </security>
      </system.webServer>
    </location>
</configuration>
